arviz==1.3.0
beautifulsoup4==4.15.0
Bio==1.8.4
chembl_webresource_client==0.10.9
defusedxml==0.7.1
drugbank_downloader==0.2.1
ete3==3.1.3
fitz==0.0.0
gymnasium==1.3.0
h5py==3.16.0
img2table==2.0.0
lifelines==0.30.3
lightning==2.6.6
litellm==1.101.0
lxml==6.1.0
mp_api==0.46.5
numpy==2.5.3
openai==3.14.1
openpyxl==3.1.5
opentrons==9.1.2
pandas==3.0.5
pdf2image==1.17.0
pdfplumber==0.11.9
Pillow==12.3.0
probeinterface==0.4.0
psutil==7.2.2
pubchempy==1.0.5
pyDOE3==1.6.2
pypdf==6.19.0
PyPDF2==3.0.1
pytesseract==0.3.13
pytest==9.0.3
python-dotenv==1.2.3
pywin32==311
PyYAML==6.0.2
PyYAML==6.0.3
rapidocr_onnxruntime==1.4.4
Requests==2.34.2
scholarly==1.7.11
scikit_learn==1.9.1
scipy==1.18.1
six==1.17.0
spikeinterface==0.104.9
stable_baselines3==2.9.0
striprtf==0.0.33
tdc==0.1
timesfm==3.0.2
torch==2.13.0
tqdm==4.67.3
zeep==4.3.3
pdf-inspector==1.20.0
